<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Maps - CNRST</title>
    <style>
        /* Toujours donner une hauteur au conteneur de la carte */
        #map {
            height: 100vh; /* La carte occupe toute la hauteur de l'écran */
            width: 100%;   /* La carte occupe toute la largeur de l'écran */
        }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?key=VOTRE_CLE_API"></script> <!-- Remplacez VOTRE_CLE_API par votre clé API Google Maps -->
    <script>
        function initMap() {
            // Coordonnées du lieu
            var location = { lat: 31.622245, lng: -8.0068463 }; // Remplacez ces coordonnées par celles du lien Google Maps

            // Créer la carte et centrer sur l'emplacement
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15, // Niveau de zoom
                center: location // Centré sur l'emplacement
            });

            // Ajouter un marqueur à l'emplacement
            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
    </script>
</head>
<body onload="initMap()">

<div id="map"></div> <!-- Conteneur pour Google Maps -->

</body>
</html>
